@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital@0;1&family=M+PLUS+Code+Latin:wght@100&family=Nothing+You+Could+Do&family=Teko:wght@300&display=swap");
/* Default style */
/* Applys for undefined screen sizes such as screen width of 481px to 599px */
h1 {
  color: #c8fdff;

  padding: 20px;
}

main {
  display: grid;

}

body {
  font-family: "Nothing You Could Do", cursive;
  background: #000000;
  color: white;
  text-align: left;
}

/* For Mobiles */
@media all and (max-width: 480px) { 
  
  h4,
  h5,
  h6 {
    font-size: 10px;
  }
  h1 {
    font-size: 25px;
    text-align: center;
  }
  h2 {
    font-size: 12px;
    text-align: center;
  }
  h3 {
    font-size: 14.5px;
    text-align: center;
  }
  body {
    font-size: 12px;
    background-color: #3d3b8e;
  }
}

/* For Tablet/Laptop/Desktops */
@media (min-width: 480px) {
  h4,
  h5,
  h6 {
    font-size: 20px;
  }
  h1 {
    font-size: 45px;
    text-align: center;
  }
  h2 {
    font-size: 12px;
    text-align: center;
  }
  h3 {
    font-size: 15px;
    text-align: center;
  }
  body {
    font-size: 15px;
    background-color: #b0e298;
    color: #000;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .padding {
    padding: 15px;
    border-width: 7px;
    font-size: 25px;
    text-align: center;
  }

  .first-section {
    border: 3px solid white;
    background-color: white;
  }

  .second-section {
    border: 3px solid white;
    background-color: white;
    text-align: left;
    word-wrap: break-word;
  }

  .third-section {
  }

  .fourth-section {
    border: 3px solid white;
    background-color: white;
  }

  .fifth-section {
    border: 3px solid white;
    background-color: white;
  }

  .container {
    display: flex;
    flex: 2;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
  }

  .container-2 {
    display: flex;
    flex: 2;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
  }
}