@import url('https://fonts.googleapis.com/css2?family=Baskervville&display=swap');/* Default style */
/* Applys for undefined screen sizes such as screen width of 481px to 599px */
h1 {
  color: #cc0944;
  padding: 20px;
}

main {
  display: grid;
}

body {
  font-family: "Nothing You Could Do", cursive;
  background: #000000;
  text-align: left;
}

/* For Mobiles */
@media all and (max-width: 480px) { 
  h1 {
    font-size: 25px;
    text-align: center;
  }
  body {
    font-size: 20px;
    background-color: #3d3b8e;
  }
}

/* For Tablet/Laptop/Desktops */
@media (min-width: 480px) {
  h1 {
    font-size: 45px;
    text-align: center;
  }
  body {
    font-size: 15px;
    background-color: black;
    color: white;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 500px;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
  }
  
  .item-image {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align:center;
  }

  .item-paragraph {
    text-align: left;
    word-wrap: break-word;
    grid-column: 1/2;
    grid-row: 1/2;
    }

  .item-quote {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .padding {
    padding: 15px;
    border-width: 7px;
    font-size: 25px;
    text-align: center;
  }

}